*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --gradient-color : 4, 6, 26;
}

body{
    min-height: 100vh;
    height: auto;
    color: var(--color);
}

.top-page{
    height: 100vh;
}
.teste{
    height: 100%;
    content: "";
    background-color: rgb(var(--gradient-color));
}


.wave-container{
    display: flex;
    flex-direction: row;
    height: 100vh;
}


.wave-segment{
    background: linear-gradient(100deg,rgb(var(--gradient-color)),
    rgb(var(--gradient-color), 800), rgb(var(--gradient-color), 400),
    rgb(var(--gradient-color), 200), rgb(var(--gradient-color), 0));
    width: 100%;
}






